.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}
.chat-message-user img {
  width: 45px;
}
.chat-message-robot {
  display: flex;
  justify-content: start;
  align-items: start;
}
.chat-message-robot img {
  width: 45px;
}
.chat-message-content {
  display: flex;
  flex-direction: column;
}
.chat-message-text {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  padding: 15px 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}
.chat-message-text img {
  height: 40px;
  margin: -15px;
}
.chat-message-time {
  margin: -10px 10px 20px;
  color: rgb(108, 117, 125);
  font-size: 12px;
}
.UserProfileImage {
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
}
