.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}
.chat-message-user img {
  width: 45px;
}
.chat-message-robot {
  display: flex;
  justify-content: start;
  align-items: start;
}
.chat-message-robot img {
  width: 45px;
}
.chat-message-text {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  padding: 15px 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}
.chat-message-text img {
  height: 40px;
  margin: -15px;
}
