.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.chat-input {
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex-grow: 1;
}
.chat-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
